{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
<main class="md-10 pt-5" style="background-image: url({% static "img/img4.jpg" %});height: 600px; background-position:center; background-size:cover">
    <section>
            <div class="container div-wrapper d-flex justify-content-center align-items-center">
                <div class="card div-wrapper d-flex justify-content-center align-items-center" style="height: 27rem; width:30rem; border-radius: 8px; margin-padding:3px;">
                    <h2>Welcome {{ user.first_name }}</h2>
                    <p style="padding: 15px">Your account has been created successfully. You can now shop from our store.</p>
                    <p style="padding: 15px"><a href="{% url 'account:login' %}">Log in</a> into account.</p>
                </div>
            </div>
    </section>
</main>
{% endblock %}
