{% extends "base.html" %}
{% load static %}

{% block title %}Create an Account{% endblock %}

{% block content %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '173042517602743',
      xfbml      : true,
      version    : 'v9.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<main class="md-10 pt-5" style="background-image: url({% static "img/img8.png" %});background-size:1500px 1000px;background-repeat: no-repeat">
  <div class="container div-wrapper d-flex justify-content-center align-items-center">
    <div class="card div-wrapper d-flex justify-content-center align-items-center" style="width:40rem; height: 45rem">
      <form method="POST" style="padding: 15px">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" name="first_name" id="form3Example1" class="form-control" />
              <label class="form-label" for="form3Example1">First name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" name="last_name" id="form3Example2" class="form-control" />
              <label class="form-label" for="form3Example2">Last name</label>
            </div>
          </div>
        </div>

<!--        username input-->
        <div class="form-outline mb-4">
          <input type="text" name="username" id="form3Example3" class="form-control" />
          <label class="form-label" for="form3Example3">Username</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" name="email" id="form3Example3" class="form-control" />
          <label class="form-label" for="form3Example3">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" name="password1" id="form3Example4" class="form-control" />
          <label class="form-label" for="form3Example4">Password</label>
        </div>

        <div class="form-outline mb-4">
          <input type="password" name="password2" id="form3Example4" class="form-control" />
          <label class="form-label" for="form3Example4">Re-enter password</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>


        {% csrf_token %}
  </form>
      <!-- Register buttons -->
        <div class="text-center">
          <p>or sign up with:</p>
          <a href="{% url 'social:begin' 'facebook' %}">
            <button type="button" class="btn btn-primary btn-floating btn-md btn-sm btn-lg mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
          </a>

           <a href="{% url 'social:begin' 'google-oauth2' %}">
            <button type="button" class="btn btn-red btn-floating btn-md btn-sm btn-lg mx-1">
              <i class="fab fa-google"></i>
            </button>
          </a>
          <a href="{% url 'social:begin' 'twitter' %}">
            <button type="button" class="btn btn-primary btn-floating btn-md btn-sm btn-lg mx-1">
              <i class="fab fa-twitter"></i>
            </button>
          </a>

          <button type="button" class="btn btn-secondary btn-floating btn-md btn-sm btn-lg mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>

    </div>
  </div>
</main>

<!--    <section>-->
<!--            <div class="container div-wrapper d-flex justify-content-center align-items-center">-->
<!--                <div class="card div-wrapper d-flex justify-content-center align-items-center" >-->
<!--                    <h3>Create an account</h3>-->
<!--                    <p style="padding: 15px">Sign up using the following form:</p>-->
<!--                    <form method="POST" style="padding: 15px">-->
<!--                        {{ form }}-->
<!--                        {% csrf_token %}-->
<!--                        <button class="btn btn-primary d-flex justify-content-center align-items-center">Sign up</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--    </section>-->
{% endblock %}
</html>