{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Your shopping cart" %}{% endblock %}

{% block content %}
<main class="mt-3 pt-3">
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="shopping__cart__table">
                        <table class="table-responsive">
                            <thead>
                                <tr>
                                    <th>{% trans "Product" %}</th>
                                    <th>{% trans "Quantity" %}</th>
                                    <th>{% trans "Total" %}</th>
                                    <th style="padding-left:15px">{% trans "Remove" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbody-responsive">
                            {% for product in cart %}
                            {% with item=product.item %}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{ item.image.url }}" alt="" width="100" height="100">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{ item.name }}</h6>
                                            <h5>${{ item.price }}</h5>
                                        </div>
                                    </td>
                                    </td>
                                    <td>
                                        <form class="d-flex justify-content-left" action="{% url "cart:cart_add" item.id %}" method="post" style="width:100%">
                                        {{ product.update_quantity_form.quantity }}
                                        {{ product.update_quantity_form.override }}
                                        <button class="btn btn-primary btn-md my-0 p">{% trans "Update" %}</button>
                                        {% csrf_token %}
                                        </form>
                                    </td>
                                        <td class="num" style="font-weight:600; font-size: 18px;">${{ product.total_price }}</td>
                                        <td>
                                            <form action="{% url "cart:cart_remove" item.id %}" method="post">
                                                <button class="close fas fa-times-circle" style="font-size: 40px"> </button>
                                                {% csrf_token %}
                                            </form>
                                        </td>
                                    </tr>
                            {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <br>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cart__discount">
                        <h6><strong>DISCOUNT CODES  <i class="fas fa-ticket-alt" style="font-size: 20px"></i></strong></h6>
                        <form action="{% url "coupons:apply" %}" method="post">
                            <div class="input-group">
                                <input type="text" id="code" name="code" class="form-control" placeholder="Coupon code">
                                {% csrf_token %}
                                <div class="input-group-append">
                                    <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">{% trans "Redeem" %} <i class="fas fa-gift" style="font-size: 15px"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6 style="font-weight: 900;">Cart total<i class="fa fa-shopping-cart"></i></h6>
                        <ul>
                            <li style="font-weight: 600;">{% trans "Subtotal" %}
                                <span>$ {{ cart.get_total_price }}</span>
                            </li>
                            {% if cart.coupon %}
                            <li>"{{cart.coupon.code}}" {% trans "coupon" %}
                                ({{ cart.coupon.discount }}% {% trans "off" %}) <span>-$ {{ cart.get_discount|floatformat:2 }}</span>
                            </li>
                            {% endif %}
                            <li style="font-weight: 800;">{% trans "TOTAL" %} <span>$ {{ cart.get_total_price_after_discount|floatformat:2 }}</span></li>
                        </ul>
                    </div>
                    <br>
                    <div class="row d-flex justify-content-center">
                            <div class="col">
                                <a href="{% url "shop:item_list" %}"><button class="btn btn-primary btn-md my-0 p" style="padding-left:12px; padding-right:12px">{% trans "Continue shopping" %}</button></a>
                            </div>

                        <div class="col">
                            <a href="{% url "orders:order_create" %}"><button class="btn btn-secondary btn-md my-0 p">{% trans "Checkout" %}<i class="fa fa-shopping-cart"></i></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if recommended_products %}
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Product</h3>
                </div>
            </div>
            <div class="row">
                {% for p in recommended_products %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                    <div class="card" style="height: 16rem; width: 12rem">
                        <div class="view overlay">
                            <a href="{{ p.get_absolute_url }}">
                                <img src="{{ p.image.url }}" class="card-img-top" alt="">
                            </a>
                        </div>
                        <div class="card-body" style="height: 2rem">
                            <p style="font-size: 15px; font-weight: 900;"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    </section>
</main>
{% endblock %}
