{% extends "base.html" %}

{% block title %}Your shopping cart{% endblock %}

{% block content %}

    <main class="mt-5 pt-4">
        <h2 style="font-size: 30px; background-color: #4285F4; padding: 10px;font-color: white">Your shopping cart</h2>
    <div class="container dark-grey-text mt-3">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-5 mb-2">

          <img src="{% if item.image %}{{ item.image.url }}
          {% else %} https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg {% endif %}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!--Content-->
          <div class="p-3">


            <table class="cart" width="130%">
                <thead>
                    <tr style="padding:25px;">
                        <th><h4>Product</h4></th>
                        <th><h4 style="padding:15px">Quantity</h4></th>
                        <th><h5>Unit price</h5></th>
                        <th><h5>Total price</h5></th>
                        <th><h5>Remove</h5></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in cart %}
                        {% with item=product.item %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>
                                    <form class="d-flex justify-content-left" action="{% url "cart:cart_add" item.id %}" method="post" style="width:10%">
                                    {{ product.update_quantity_form.quantity }}
                                    {{ product.update_quantity_form.override }}
                                    <button class="btn btn-primary btn-md my-0 p">Update</button>
                                    {% csrf_token %}
                                    </form>
                                </td>
                                <td  class="num">${{ product.price }}</td>
                                <td class="num">${{ product.total_price }}</td>
                                 <td>
                                    <form action="{% url "cart:cart_remove" item.id %}" method="post">
                                        <button class="btn btn-danger btn-md my-0 p">Remove</button>
                                        {% csrf_token %}
                                    </form>
                                </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr style="padding:30px">
                            <td style="padding:30px" style="color:blue;"><b><h5>TOTAL</h5></b></td>
                            <td colspan="2"></td>
                            <td><h5>${{ cart.get_total_price }}</h5></td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-right">
                    <a href="{% url "shop:item_list" %}" class="button light"><button class="btn btn-primary btn-md my-0 p">Continue shopping</button></a>
                    <a href="{% url "orders:order_create" %}"><button class="btn btn-secondary btn-md my-0 p">Checkout</button></a>
                </p>
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
{% endblock %}