{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {% if category.name %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container">

      <br>
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">{% trans "Categories" %}:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url "shop:item_list" %}">{% trans "All" %}
                <span class="sr-only">(current)</span>
              </a>
            </li>

            {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">Sport wears</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">Outwears</a>-->
<!--            </li>-->

          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
            {% for item in items %}
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card" style="width: 16rem; height: 25rem">

              <!--Card image-->
              <div class="view overlay">
                <a href="{{ item.get_absolute_url }}">
                  {% if item.tags and item.label %}
                  <div class="imgHolder">
                    <img src="{{ item.image.url }}" class="img-fluid">
                    <span class="badge badge-pill {{ item.get_label_display }}-color">{{ item.tags }}</span>
                  </div>
                  {% else %}
                  <img src="{{ item.image.url }}" class="img-fluid">
                  {% endif %}
                </a>
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center" style="height: 9rem;">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{ item.category.name|truncatechars:20 }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>${{ item.price }}</strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->
          </div>
          {% endfor %}
        </div>
      </section>
      <!--Section: Products v.3-->

      <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <!--Arrow left-->
          {% if page_obj.has_previous %}
          <li class="page-item disabled">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
<!--          {% for n in page.paginator.page_range %}-->
<!--          {% if page.number == n %}-->
<!--          <li class="page-item active">-->
<!--            <a class="page-link" href="">{{ n }}-->
<!--              <span class="sr-only">(current)</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          {% elif n > page.number|add:-3 and n < page.number|add:3 %}-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="?page={{ n }}">{{ n }}</a>-->
<!--          </li>-->
<!--        {% endif %}-->
<!--        {% endfor %}-->
<!--          -->
      </nav>
      <!--Pagination-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}