{% extends "base.html" %}
{% load static %}

{% block title %}Logged out{% endblock %}

{% block content %}
<main class="md-10 pt-5">
    <section>
        <container class="d-flex justify-content-center align items-center">
            <div class="card d-flex justify-content-center align-items-center">
                <h1>Logged out</h1>
                <p style="padding-left:15px; padding-right: 15px">
                    You've successfully logged out of your account.
                    You can switch accounts or log-in into your account again<a href="{% url 'account:login' %}"> Here</a>
                </p>
            </div>
        </container>
    </section>
</main>
{% endblock %}