{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}Login{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static "images/icons/favicon.ico" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %"}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static "vendor/animate/animateform.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.form.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.form.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css/utilform.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/mainform.css" %}">
<!--===============================================================================================-->
</head>
<body>

{% block content %}
<main class="md-10 pt-5" style="background-image: url({% static "img/img4.jpg" %});height: 600px; background-position:center; background-size:cover">
    <section>
            <div class="container div-wrapper d-flex justify-content-center align-items-center">
                <div class="card div-wrapper d-flex justify-content-center align-items-center" style="height: 27rem; width:30rem; border-radius: 8px; margin-padding:3px;box-shadow: 2rem">
                    <form action="{% url 'account:login' %}" class="login100-form validate-form" method="POST">
                        <h2 class="div-wrapper d-flex justify-content-center align-items-center" style="background-image: url({% static "img/baiten logo.png" %});">
                            Member Login
                        </h2>
                        {% if form.errors %}
                            <p style="padding-left: 15px; padding-right: 15px; color:red;">
                                Your username and password didn't match.
                                Please try again.
                            </p>
                        {% else %}
                            <p style="padding-left: 15px; padding-right: 15px;">Please use the following form to login into your account:</p>
                        {% endif %}

                        <div class="input-container validate-input" data-validate = "Valid email is required: ex@abc.xyz" style="padding-left: 15px; padding-right: 15px">
                            <input class="form-control" type="text" name="username" style="font-family:Font Awesome 5 Free;" placeholder="Username">
                            <span class="focus-input100"></span>
                        </div>
<br>
                        <div class="input-container validate-input" data-validate = "Password is required" style="padding-left: 15px; padding-right: 15px">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary" style="width: 270px; text-align: center;">Login</button>
                        </div>

                        <div class="text-center p-t-12">
                            <span class="txt1">
                                Forgot
                            </span>
                            <a class="txt2" href="{% url 'account:password_reset' %}">
                                Username / Password?
                            </a>
                        </div>

                        <div class="text-center p-t-136">
                            <p>Don't have an account?</p>
                            <a class="txt2" href="{% url 'account:register' %}">
                                Sign up here
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
    </section>
</main>
{% endblock %}




<!--===============================================================================================-->
	<script src="{% static "vendor/jquery/jquery-3.2.1.min.form.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/bootstrap/js/popperform.js" %}"></script>
	<script src="{% static "vendor/bootstrap/js/bootstrap.min.form.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/select2/select2.min.form.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/tilt/tilt.jquery.min.form.js" %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static "js/mainform.js" %}"></script>

</body>
</html>