{% extends "base.html" %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
<main class="md-10 pt-5" style="background-image: url({% static "img/img4.jpg" %});height: 600px; background-position:center; background-size:cover">
    <section>
            <div class="container div-wrapper d-flex justify-content-center align-items-center">
                <div class="card div-wrapper d-flex justify-content-center align-items-center" style="height: 27rem; width:30rem; border-radius: 8px; margin-padding:3px;">
                    <h1>Password changed</h1>
                    <p>Your password has been changed. You can
                        <a href="{% url 'account:login' %}">log in now</a>
                    </p>
                </div>
            </div>
    </section>
</main>
{% endblock %}