{% extends "base.html" %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<main class="md-10 pt-5" style="background-image: url({% static "img/img4.jpg" %});height: 600px; background-position:center; background-size:cover">
    <section>
            <div class="container div-wrapper d-flex justify-content-center align-items-center">
                <div class="card div-wrapper d-flex justify-content-center" style="height: 27rem; width:30rem; border-radius: 8px; margin-padding:3px;">
                    <h2 class="d-flex justify-content-center align-items-center" style="padding:15px">Forgotten your password?</h2>
                    <p style="padding: 15px">Enter your e-mail address to obtain the link to change your password.</p>
                    <form method="post" style="padding: 15px">
                        {{ form.as_p }}
                        <button class="btn btn-secondary d-flex justify-content-center align-items-center" type="submit" style="width:300px">
                            Send verification link
                        </button>
                    {% csrf_token %}
                    </form>
                </div>
            </div>
    </section>
</main>
{% endblock %}