{% extends "base.html" %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}{% trans "Checkout" %}{% endblock %}

{% block content %}
<body class="grey lighten-3">

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">{% trans "Checkout form" %}</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body" method="POST">

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName-->
                  <div class="md-form ">
                    {{ form.first_name.as_p }}
                    <input type="text" id="first_name" name="first_name" class="form-control">
                    <label for="first_name" class="">First name</label>
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--lastName-->
                  <div class="md-form">
                    {{ form.last_name.as_p }}
                    <input type="text" id="last_name" name="last_name" class="form-control">
                    <label for="last_name" class="">Last name</label>
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--email-->
              <div class="md-form mb-5">
                {{ form.email.as_p }}
                <input type="text" id="email" name="email" class="form-control" placeholder="youremail@example.com">
                <label for="email" class="">Email (optional)</label>
              </div>

              <!--address-->
              <div class="md-form mb-5">
                {{ form.address.as_p }}
                <input type="text" id="address" name="address" class="form-control" placeholder="1234 Main St">
                <label for="address" class="">Address</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  {{ form.country.as_p }}
                  <input type="text" id="country" name="country" class="form-control" placeholder="United states">

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="city">State</label>
                  {{ form.city.as_p }}
                  <input type="text" id="city" name="city" class="form-control" placeholder="California">
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="postal_code">Zip</label>
                  {{ form.postal_code.as_p }}
                  <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="" required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->
              {% csrf_token %}
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans "Continue to payment" %}</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">{% trans "Your cart" %}</span>
            <span class="badge badge-secondary badge-pill">{{ cart|length }}</span>
          </h4>
          {% for product in cart %}
          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0"><span class="badge badge-secondary badge-pill">{{ product.quantity }}</span>
                  <strong>{{ product.item.name }}</strong></h6>
                <small class="text-muted">{{ product.item.description|truncatechars:40 }}</small>
              </div>
              <span class="text-muted">${{ product.item.price }}</span>
            </li>
            {% endfor %}

            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-1">{% trans "Coupon code" %}:</h6>
                {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                <strong>"{{ code }}" ({{ discount }}% off)</strong>
                {% endblocktrans %}
              </div>
              <span class="text-success">- ${{ cart.get_discount|floatformat:2 }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>{% trans "Total" %} (USD)</span>
              <strong>${{ cart.get_total_price_after_discount|floatformat:2 }}</strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
                  <form action="{% url "orders:apply" %}" method="post" class="card p-2">
                    <div class="input-group">
                        {{ coupon_apply_form.as_bootstrap }}
                      <input type="text" id="code" name="code" class="form-control" placeholder="{% trans "Promo code" %}">
                         {% csrf_token %}
                      <div class="input-group-append">
                        <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">{% trans "Redeem" %}</button>
                      </div>
                    </div>
                  </form>
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}
