{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Thank you" %}{% endblock %}

{% block content %}
<!--Card-->
<main class="md-10 pt-5">

    <div class="container wow fadeIn">

    <div class="card">

        <div class="col-md-8 mb-4">
            <h1>{% trans "Thank you" %}</h1>
            <p>{% trans "You order has been successfully completed. Your order number is" %}
                <strong>
                    <span class="badge badge-secondary pill">{{ order.id }}</span>
                </strong>
            </p>
        </div>

    </div>

    </div>

</main>
{% endblock %}