{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "product page" %}{% endblock %}

{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ item.image.url|default_if_none:'https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg' }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <div class="product-detail">
              <strong><b>
              <h2 class="dark-grey-text" class="lead font-weight-bold">{{ item.name }}</h2>
              <h4>
                <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
              </h4>
              </b>
              </strong>
            </div>

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{% trans "Category" %} 2</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">{% trans "New" %}</span>
              </a>
              <a href="">
                <span class="badge red mr-1">{% trans "Bestseller" %}</span>
              </a>
            </div>

            <p class="lead">
              <span class="mr-1">
                <del>$200</del>
              </span>
              <span>${{ item.price }}</span>
            </p>

            <p class="lead font-weight-bold">{% trans "Description" %}</p>

            <p>{{ item.description }}</p>

            <form class="d-flex justify-content-left" action="{% url "cart:cart_add" item.id %}" method="post">
              <!-- Default input -->
              {{ cart_item_form }}
              {% csrf_token %}
<!--              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">-->
              <button class="btn btn-primary btn-md my-0 p" type="submit">{% trans "Add to cart" %}
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
<!--      <div class="row d-flex justify-content-center wow fadeIn">-->

        <!--Grid column-->
<!--        <div class="col-md-6 text-center">-->

<!--          <h4 class="my-4 h4">Additional information</h4>-->

<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit-->
<!--            voluptates,-->
<!--            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>-->

<!--        </div>-->
<!--        &lt;!&ndash;Grid column&ndash;&gt;-->

      </div>
      <!--Grid row-->
      {% if recommended_products %}
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Product</h3>
                </div>
            </div>
            <div class="row">
                {% for p in recommended_products %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                    <div class="card" style="height: 16rem; width: 12rem">
                        <div class="view overlay">
                            <a href="{{ p.get_absolute_url }}">
                                <img src="{{ p.image.url }}" class="card-img-top" alt="">
                            </a>
                        </div>
                        <div class="card-body" style="height: 2rem">
                            <p style="font-size: 15px; font-weight: 900;"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
        </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

</body>
{% endblock %}

</html>
