{% extends "base.html" %}
{% load static %}

{% block title %}Payment canceled{% endblock %}

{% block content %}
    <main class="md-10 pt-5" style="background-image: url({% static "img/img4.jpg" %});height: 600px; background-position:center; background-size:cover">
        <br>
        <br>

    <div class="container wow fadeIn">

    <div class="card d-flex justify-content-center">

            <h1 class="d-flex justify-content-center" style="font-weight: 600; padding:15px;">Your payment has not been processed</h1>
            <h5 style="padding:15px">There was a problem processing your payment.</h5>

    </div>

    </div>

</main>
{% endblock %}